body{
    margin: 0px;
}
.section1{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}
.link{
    display: flex;
    gap: 50px;
}
.container1{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
}



.img1{
    width: 410px;
    height: 230px;
}

.section3{
    background-color: #E5E7EB;
}






footer{
    background-color: #1F2937;
}
